William R Wagner (editor), Shelly E. Sakiyama-Elbert (editor), Guigen Zhang (editor), Michael J. Yaszemski (editor) - Biomaterials Science_ An Introduction to Materials in Medicine-Academic Press (202.pdf